---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About Me</div>
  </div>

  <div class="mb-10 text-justify">
    I have strong emotional intelligence and strategic and empathetic leadership abilities. I am capable of maintaining a positive and calm attitude during challenging situations, allowing me to analyze the situation accurately without becoming stressed. I am always seeking to acquire new knowledge and reinforce the skills I have already obtained.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="CONTROL AND AUTOMATION ENGINEER"  subtitle="2015 to 2019 at Instituto Politecnico Nacional, ESIME Zacatenco, CDMX, México">
        <div>
        <p class="font-normal">During my degree, I gained knowledge in industrial instrumentation, 
        with a specialization in digital control. I simulated with mathematical models, focusing on the following engineering fields:</p>
        <p class="py-2">•	Control, instrumentation, and communication of process sensors, actuators, and controllers of the top brands E&H, Emerson, ABB, Allied Telesis.</p>
        <p class="py-2">•	Understanding current standard processes and their safety measures based on process nature of standard regulations on intrinsically Safe protections, Nema, Ip, API processes, ISO, ISA..</p>
        <p class="py-2">•	Interpretation and creation of technical drawings, engineering documents, electrical diagrams, and control diagrams such as P&ID.</p>
        <p class="py-2">•	Programming and connection using industrial protocols for Allen-Bradley systems, using programs such as RSlogix and TiaPortal, for various modular equipment and frequency drives (Ethernet IP, Control-Net, Device-Net)</p>
        </div>
    </TimeLineElement>

    <TimeLineElement title="MACHINE AND TOOLS TECHNICIAN" subtitle="2012 to 2015 at CECyT 9 Juan de Dios Batiz Paredez, CDMX, Mexico">
      <div>
        <p class="font-normal">During my time in this technical career, I have learned to:</p>
        <p class="py-2">•	Operate Machinery: Lathes
                          Milling machines
                          Sanders
                          CNC machines, including programming in FANUC</p>
        <p class="py-2">•	Study Material Hardness: Analyze the hardness of materials and their applicability in various contexts</p>
        <p class="py-2">•	Design Mechanical Parts: Design mechanical parts and ensure their correct use.</p>
        <p class="py-2">•	Conduct Electrical Power Simulations: Perform electrical power simulations to ensure system efficiency and reliability</p>
        </div>
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Rackspace - Support Technician"
      subtitle="From April 2024 to July 2024 at Rackspace, CDMX, México"
    >
    In my current role, I take pride in being the frontline of customer support, where I handle incoming customer queries with dedication and thorough analysis. I identify and resolve issues by conducting in-depth investigations, ensuring I fully understand the nature of the problems, even when they are unfamiliar. My commitment to providing accurate and relevant information often leads me to research extensively before offering solutions or escalating issues through the appropriate channels.
    I also manage ticket queues effectively, ensuring that assignments are timely and directed to the appropriate technicians or teams. By coordinating tasks between departments through precise ticket routing, I minimize false alerts and significantly enhance the accuracy of our system monitoring. This proactive approach not only resolves customer issues efficiently but also strengthens overall operational reliability.
    </TimeLineElement>
    <TimeLineElement
      title="Intelite - Proporsal Enginner"
      subtitle="From June 2023 to March 2024 at Intelite, CMDX, México"
    >
    <div>
      <p class="font-normal">•	IOT Solutions :</p>
      <p class="py-1">•	Propose and program integrated controllers for smart homes and buildings (BMS).</p>
      <p class="py-1">•	Ensure the integration and compatibility of proposed systems with existing and future infrastructures.</p>
      <p class="py-1">•	Coordinate with suppliers and contractors to ensure that components and services meet project standards and requirements.</p>
      <p class="py-1">•	Offer technical support and troubleshoot issues related to controllers, and systems.</p>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Service Engineer - IOSA"
      subtitle="From November 2022 to June 2023 at Ingenieria Operativa, CDMX, Mexico"
    >
      Responsible for the corrective and preventive maintenance of X-ray machines, metal detectors, narcotics and explosives detection equipment. In charge of the X-ray inspection equipment for government agencies located in Terminal 1, Terminal 2, charge and mailing services on the airport, overseeing a total of 19 equipment units.
      Since I took over, we have achieved a bi-monthly target of 95% continuous operability.
    </TimeLineElement>
    <TimeLineElement
      title="Programming Partner  - ATAV"
      subtitle="From February 2020 to November 2023 at Ambientes Tactiles, CDMX, Mexico"
    >
    I mainly worked on programming brain integrators for various smart devices, including shades, cameras, lighting, speakers, and all the smart devices in the project. Recently, I had been creating comprehensive manuals for customers to help them navigate the complex names and instructions associated with the projects. These manuals were highly appreciated and frequently requested by customers whenever something needed to be added or fixed, leading to numerous recommendations to new customers. I also provided clients with recommendations on new technologies that could enhance their systems' functionality and efficiency. Additionally, I customized the brand's application to control the system in a practical and user-friendly manner for the customer.
    </TimeLineElement>


  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Fullstack Web Development</a>
      <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="7fa21e80-c0e7-407f-953f-e0e910557f2c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </li>
    <li>
      <a href="#" target="_blank"> HARVARD</a>
    </li>
    <li>
      <a href="#" target="_blank"> Gobierno</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>AutoDesk</li>
    <li>Office 365</li>
    <li>LabView</li>
    <li>MAtlab</li>
    <li>TiaPortal</li>
    <li>RSlogix</li>
    <li>javascript</li>
    <li>SQL</li>
    <li>NoSQL MongoDB</li>
    <li>HTML5</li>
    <li>GCP</li>
    <li>NodeJs</li>
    <li>Python</li>
    <li>Excel</li>
    <li>DNS</li>
    <li>AWS Services</li>
    <li>Windows/Linux servers</li>
    <li>SaSS</li>
    <li>Git</li>
  </ul>
</BaseLayout>
