---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, );
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jose Gerardo Lagunes Garcia</div>
    <div class="text-3xl py-3 font-bold">Control and Automation Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a young professional interested in working for a company or institution that upholds sustainable and cutting-edge technology values. 
        I trained in Control and Automation Engineering, specializing in data management and development, with a current focus on web programming.
        I am particularly interested in data analysis and database management, cloud services and I independently study technologies for their analysis and querying.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/gerardolagunes/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Places I worked with</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  
<div>
  <div class="text-3xl w-full font-bold mb-2">Experience
  </div>
</div>

<HorizontalCard
  title="Rackspace"
  img="/Images/rx2.png"
  desc="Support Technician."
  url="#"
  period="April 2024 - Today"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Intelite"
  img="/Images/intelite.jpg"
  desc="Proposal Engineer."
  url="#"
  period="June 2023 - March 2024 "
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Ingenieria Operativa"
  img="/Images/iosa.png"
  desc="Service Engineer."
  url="#"
  period="November 2022 - June 2023"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Ambientes Tactiles"
  img="/Images/control4.jpg"
  desc="Programer."
  url="#"
  period="February 2020 - November 2022"
/>
</BaseLayout>
